@model IEnumerable<RazorBite.Models.Review>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        padding-top: 20px;
    }

    .message-container {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .message-header {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .message-content {
        color: #333;
    }
</style>

<div class="container">
    <h1>Zanechte svou recenzi</h1>

    <a class="btn btn-primary" asp-action="Create">Vytvořit</a>
    <br /><br />

    @foreach (var item in Model)
    {
        <div class="message-container">
            <div class="message-header">
                <span>@Html.DisplayFor(modelItem => item.Name)</span>
                <span>@Html.DisplayFor(modelItem => item.LastName)</span>
            </div>
            <div class="message-content">
                <p>Email: @Html.DisplayFor(modelItem => item.Email)</p>
                <p>Visit Date: @Html.DisplayFor(modelItem => item.VisitDate)</p>
                <p>Rating: @Html.DisplayFor(modelItem => item.Rating)</p>
                <p>Comment: @Html.DisplayFor(modelItem => item.Comment)</p>
            </div>
        </div>
    }
</div>
